.places {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@media (max-width: 320px) {
    .places {
        gap: 50px;
    }
}