.cover__subtitle {
    padding: 0;
    margin: 0;
    padding-left: 412px;
    padding-right: 412px;
    margin-bottom: 254px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: var(--text-color);
    z-index: 1;
}