.place-card__text-container {
    grid-area: text;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}

@media (max-width: 768px) {
    .place-card__text-container {
        row-gap: 25px;
    }
}
@media (max-width: 600px) and (min-width: 321px) {
    .place-card__text-container {
        text-align: center;
    }
}
@media (max-width: 320px) {
    .place-card__text-container {
        padding-left: 16px;
        padding-right: 16px;
    }
}