.place-card__url {
    margin: 0;
    padding: 0;
    grid-area: url;
    color: var(--url-color);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    align-self: end;
}