.place-card__link {
    margin: 0;
    padding: 0;
    grid-area: link;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: var(--text-color);
}

.place-card__link:hover {
    opacity: .8;
}