.place-card__title {
    margin: 0;
    padding: 0;
    grid-area: title;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: var(--text-color);
 
}

@media (max-width: 768px) {
    .place-card__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media (max-width: 320px) {
    .place-card__title {
        font-size: 32px;
        line-height: 35px;
    }
}