.wrapper_section_lead {
    padding: 0;
    margin: 0;
    padding-left: 148px;
    padding-right: 148px;
    margin-bottom: 92px;
    box-sizing: border-box;
    width: 100%;
}

@media (max-width: 1024px) {
    .wrapper_section_lead {
       padding-left: 48px;
       padding-right: 48px;
       margin-bottom: 92px;
    }
}

@media (max-width: 768px) {
    .wrapper_section_lead {
       padding-left: 0;
       padding-right: 0;
       margin-bottom: 88px;
    }
}

@media (max-width: 320px) {
    .wrapper_section_lead {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 64px;
    }
}