.wrapper__section_place_header {
    margin: 0;
    padding-top: 28px;
    padding-left: 48px;
    padding-right: 48px;
    margin-bottom: 56px;
    box-sizing: border-box;
    width: 100%;
}

@media (max-width: 1024px) {
    .wrapper__section_place_header {
        margin-bottom: 48px;
    }
}

@media (max-width: 768px) {
    .wrapper__section_place_header {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 320px) {
    .wrapper__section_place_header {
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
}